<div class="panel panel-default panel-table">
    <div class="panel-heading">
        <strong class="text-primary" style="font-size: 25px;">Appointments</strong>
        &emsp;<button type="button" class="btn btn-primary" data-modal-route="/admin/appointment/add">Create Appointment</button>
        <div class="tools dropdown">
            <span class="icon mdi mdi-download"></span>
        </div>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Client Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Purpose</th>
                    <th>Branch</th>
                    <th>Query</th>
                    <th>Status</th>
                    <th class="actions" style="width: 200px;">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {{#each appointment.data  }}
                <tr>
                    <td>{{date this.dataValues.date}}</td>
                    <td>{{this.dataValues.name}}</td>
                    <td>{{this.dataValues.phone}}</td>
                    <td>{{this.dataValues.email}}</td>
                    <td>{{this.dataValues.purpose}}</td>
                    <td>{{this.dataValues.branch}}</td>
                    <td>
                        <button type="button" class="btn btn-secondary btn-circle"
                            data-modal-route="/admin/appointment/{{this.dataValues.id}}/query">
                            <i class="mdi mdi-text-format"></i>
                        </button>
                    </td>
                    <td>
                        {{#isEqual this.dataValues.approved true}}
                        <div class="badge badge-success">Approved</div>
                        {{else}}
                        <div class="badge badge-warning">Pending</div>
                        {{/isEqual}}
                    </td>
                    <td style="text-align: right;">
                        {{#isEqual this.dataValues.approved false}}
                        <button type="button" class="btn btn-default" data-modal-route="/admin/appointment/{{this.dataValues.id}}/approve">
                            <i class="mdi mdi-edit"></i> &nbsp;Approve
                        </button>
                        {{else}}
                        <button type="button" class="btn btn-default" data-modal-route="/admin/appointment/{{this.dataValues.id}}/disapprove">
                            <i class="mdi mdi-edit"></i> &nbsp;Disapprove
                        </button>
                        {{/isEqual}}
                        <button type="button" class="btn btn-danger" data-modal-route="/admin/appointment/{{this.dataValues.id}}/delete">
                            <i class="mdi mdi-delete"></i>
                        </button>
                    </td>
                </tr>
                {{/each  }}
            </tbody>
        </table>
        <div style="padding-left: 20px;">
            {{{ paginate appointment '/admin/appointments' }}}
        </div>
    </div>
</div>