<div class="head_panel">
  <div style="background-image: url()" class="full_width_photo bg_vtop parallax-window ">


    <div class="hgroup">

      <div class="title diagonal-bgcolor-trans   ">
        <div class="container">
          <h1>International Patient Customer Care (IPCC)</h1>
        </div>
      </div>

      <div class="subtitle body-bg_section   ">
        <div class="container">
          <p>FMS - an everlasting commitment to a healthy smile.</p>
        </div>
      </div>

    </div>


  </div>
</div>
<div class="main foo" data-colorset="foo">



  <section class="vc_row wpb_row vc_row-fluid Wrapper_Content">
    <div class="container">
      <div class="row">
        <div class="wpb_column vc_column_container col-sm-3">
          <div class="wpb_wrapper">

            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
              <div class="wpb_wrapper">
                <div class="list-group">
                  <a href="../medical-tourism-india/index.html" class="list-group-item">Medical Tourism India</a>
                  <a href="../dental-tourism-india/index.html" class="list-group-item">Dental Tourism India</a>
                  <a href="../dental-tourism-hyderabad/index.html" class="list-group-item">Dental Tourism Hyderabad</a>
                  <a href="../dental-tourism-cochin/index.html" class="list-group-item">Dental Tourism Cochin</a>
                  <a href="../why-fms/index.html" class="list-group-item">Why FMS ?</a>
                  <a href="index.html" class="list-group-item active">International Patient Customer Care</a>
                  <a href="../visa-travel-and-accommodation/index.html" class="list-group-item">Visa,Travel &
                    Accomodation</a>
                  <a href="../explore-india/index.html" class="list-group-item">Explore India</a>
                  <a href="../plan-your-trip/index.html" class="list-group-item">Plan Your Trip</a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="wpb_column vc_column_container col-sm-9">
          <div class="wpb_wrapper">

            <div class="wpb_text_column wpb_content_element ">
              <div class="wpb_wrapper">
                <h2><span style="color: #800000;">International <span style="color: #ff6600;">Services</span></span>
                </h2>

              </div>
            </div>

            <div class="wpb_text_column wpb_content_element ">
              <div class="wpb_wrapper">
                <p>FMS Dental Hospital provides a wide range of services for international patients and their families,
                  companions, ensuring them a pleasant and comfortable experience throughout their stay.</p>
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-lg-12 small-device">
                    <p>FMS Dental offers all dental and maxillofacial procedures including Dental Implants, Laser
                      dentistry, cosmetic and general dentistry options. At FMS, the team of Doctors comprises over 100
                      specialists, many of whom have been trained from different parts of the world. The range of
                      services cover over 10 specialties mainly focusing on Dental Health Care, but also include
                      peripheries of dentistry including, plastic and cosmetic surgery, LASER, cancer surgeries of head
                      and neck region etc. FMS holds the pride to have one of the finest dental labs in India catering
                      to all our hospitals and hundreds of doctors in India and abroad.<br>
                      This allows us to develop smile makeover packages that will assist you in completing all your
                      desired dental work prior to leaving India. During your initial consultation, the dental
                      specialist will review your current condition, your expectations and various treatment options.
                      Based on your desires and your time in India, we will develop a treatment schedule without
                      interfering much with your vacation plans.</p>
                  </div>
                </div>

              </div>
            </div>

            <div class="wpb_text_column wpb_content_element ">
              <div class="wpb_wrapper">
                <p><span style="color: #e3dcdc;"><span style="color: #f2f0f0;">Laser gum treatment,flap surgery, Laser
                      gum treatment,flap surgery, Laser gum treatment,flap surgery, Laser gum treatment,flap surgery,
                      Laser gum treatment,flap surgery</span><br>
                  </span></p>

              </div>
            </div>

          </div>
        </div>
        <div class="wpb_column vc_column_container col-sm-12">
          <div class="wpb_wrapper">

            <div class="row">
              {{#each doctors  }}
        <div class="wpb_column vc_column_container col-sm-4">
          <div class="wpb_wrapper">


            <div class="teaser_box wpb_content_element text-center   boxed_special same_height_col  with_button ">

              <div class="figure ">


                <a href="/profile/{{this.id}}" title target>




                  <img src="{{this.image.path}}"
                    class=" jetpack-lazy-image"><noscript></noscript>



                </a>

              </div>


              <div class="content text-center boxed  with_button ">

                <div class="hgroup">
                  <h4>{{this.title}} {{this.firstName}} {{this.lastName}}</h4>
                  <p>{{this.position}}</p>
                </div>



                <div class="link centered">
                  <a href="/profile/{{this.id}}" class="btn btn-xs btn-warning"><strong>Know more
                      about {{#isEqual this.gender 'Male'}} him {{else}} her {{/isEqual}}</strong></a>
                </div>

              </div>

            </div>



          </div>
        </div>
        {{/each  }}
            </div>
            
            <div class="vc_row wpb_row vc_inner vc_row-fluid">
              <div class="wpb_column vc_column_container col-sm-8">
                <div class="wpb_wrapper">

                  <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                      <p><strong><span style="color: #5e1f00;">Dedicated Team</span> <span
                            style="color: #800000;">of</span> <span style="color: #f76300;">International Customer
                            Care<br>
                          </span></strong></p>
                      <p><strong><u><span style="color: #f76300;">Team</span> <span
                              style="color: #5e1f00;">International Customer Care </span><span
                              style="color: #a14000;">(ICC)</span></u></strong></p>
                      <p>A dedicated team of ICC is placed at FMS for coordinating our international patients viz.
                        Foreigners, Expats and NRIs. The team consists of Director, Dental tourism facilitator,
                        coordinator, PROs and dentists.</p>
                      <p><strong><span style="color: #ff6600;">Contact the team @</span>  <span
                            style="color: #a14000;">(+91) 888 50 60 780</span>  / <span style="color: #993300;"> (+91)
                            888 50 60 770 /  (+91) 888 50 60 760)</span><br>
                        </strong></p>
                      <p>The team is dedicated for:</p>
                      <ul>
                        <li>Coordinating the first phase of e-consultation with our Team ICC dentist.</li>
                        <li>Organizing a video conference or e-consultation with our senior dental specialists.</li>
                        <li>Team ICC will coordinate for the necessary invitation letters and other Visa requirements.
                        </li>
                        <li>Helping our clients with Hotel booking with FMS corporate discounts.</li>
                        <li>Helping out in planning for tourism in India in-between the treatments.</li>
                        <li>Airport pickups and local guidance.</li>
                        <li>Recall Service to remind patients of review &amp;follow-up.</li>
                      </ul>

                    </div>
                  </div>

                </div>
              </div>
              
            </div>
            <div class="vc_row wpb_row vc_inner vc_row-fluid">
              <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">
                  <div class="vc_message_box vc_message_box-solid-icon vc_message_box-square vc_color-sandy_brown">
                    <div class="vc_message_box-icon"><i class="vc_pixel_icon vc_pixel_icon-explanation"></i></div>
                    <h5 style="color: #412318; font-weight: 600; text-transform: capitalize; /* margin: 10px auto;">
                      <span style="font-size: 10pt; font-family: arial black,sans-serif;"><span
                          style="font-size: 12pt;">Arrival At FMS Dental Hyderabad</span><br>
                      </span></h5>
                    <ul style="list-style-type: square;">
                      <li class=" small-device-p" style="text-align: justify;">Oral and Dental examination, evaluation
                        and diagnosis is made after which a treatment plan is arrived.</li>
                      <li class=" small-device-p" style="text-align: justify;">Further details regarding treatment and
                        cost factor are discussed directly with the patient.</li>
                      <li class=" small-device-p" style="text-align: justify;">The dental procedures are carried out, as
                        per the plan.</li>
                      <li class=" small-device-p" style="text-align: justify;">Sightseeing in Hyderabad and other
                        locations happens in between appointments.</li>
                      <li>Back to the country of origin, with healthier teeth and a beautiful smile, after an amazing
                        dental vacation.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container col-sm-6">
                <div class="wpb_wrapper">
                  <div class="vc_message_box vc_message_box-solid-icon vc_message_box-rounded vc_color-sandy_brown">
                    <div class="vc_message_box-icon"><i class="vc_pixel_icon vc_pixel_icon-explanation"></i></div>
                    <h5 style="color: #412318; font-weight: 600; text-transform: capitalize; /* margin: 10px auto;">
                      <span style="font-size: 12pt; font-family: arial black,sans-serif;">Planning A Dental Vacation
                        From Your Home Country</span></h5>
                    <ul style="list-style-type: square;">
                      <li>Initial contact with the patient’s residence/office, diagnostic aids such as X-rays,
                        photographs, medical reports etc are sent to us through email.</li>
                      <li>A provisional diagnosis, treatment plan and estimated cost are arrived at, for patient’s
                        approval. A</li>
                      <li>Appointments, duration of treatment, accommodation, sight seeing are discussed.</li>
                      <li>On arrival, a thorough examination  / evaluation is performed, a definitive diagnosis is made
                        and treatment is carried out.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="vc_row wpb_row vc_row-fluid secondary_section">
    <div class="container">
      <div class="row">
        <div class="wpb_column vc_column_container col-sm-12">
          <div class="wpb_wrapper">
            <div
              class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text">
              <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span>
              <h4>Quick Links</h4><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container col-sm-4">
          <div class="wpb_wrapper">
            <div class="vc_wp_custommenu wpb_content_element">
              <div class="widget widget_nav_menu">
                <h2 class="widgettitle">Dental Issues?</h2>
                <div class="menu-dental-issues-container">
                  <ul id="menu-dental-issues" class="menu">
                    <li id="menu-item-4303"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4303"><a
                        href="../dental-cavities/index.html">Dental Cavities</a></li>
                    <li id="menu-item-6517"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6517"><a
                        href="../gum-disease/index.html">Bleeding Gums</a></li>
                    <li id="menu-item-4312"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4312"><a
                        href="../loose-teeth/index.html">Loose Teeth</a></li>
                    <li id="menu-item-4309"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4309"><a
                        href="../stained-teeth/index.html">Stained Teeth</a></li>
                    <li id="menu-item-4306"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4306"><a
                        href="../crooked-teeth/index.html">Crooked Teeth</a></li>
                    <li id="menu-item-6521"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6521"><a
                        href="../chipped-teeth/index.html">Chipped Teeth</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="vc_wp_custommenu wpb_content_element">
              <div class="widget widget_nav_menu">
                <h2 class="widgettitle">PROSTHODONTICS</h2>
                <div class="menu-prosthodontics-container">
                  <ul id="menu-prosthodontics" class="menu">
                    <li id="menu-item-4285"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4285"><a
                        href="../metal-free-zirconium-crowns/index.html">Metal free / Zirconium Crowns</a></li>
                    <li id="menu-item-4154"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4154"><a
                        href="../bps-dentures/index.html">BPS DENTURES</a></li>
                    <li id="menu-item-8597"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8597"><a
                        href="../cad-cam/index.html">CAD CAM</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="vc_wp_custommenu wpb_content_element">
              <div class="widget widget_nav_menu">
                <h2 class="widgettitle">PAEDIATRIC DENTISTRY</h2>
                <div class="menu-paediatric-dentistry-container">
                  <ul id="menu-paediatric-dentistry" class="menu">
                    <li id="menu-item-6343"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6343"><a
                        href="../importance-of-milk-teeth/index.html">IMPORTANCE OF MILK TEETH</a></li>
                    <li id="menu-item-6345"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6345"><a
                        href="../preventive-dental-therapy/index.html">PREVENTIVE DENTAL THERAPY</a></li>
                    <li id="menu-item-6348"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6348"><a
                        href="../pit-and-fissure-sealants/index.html">PIT AND FISSURE SEALANTS</a></li>
                    <li id="menu-item-6349"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6349"><a
                        href="../anti-decay-fluoride-application/index.html">ANTI-DECAY FLUORIDE APPLICATION</a></li>
                    <li id="menu-item-6350"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6350"><a
                        href="../pediatric-orthodontics/index.html">PEDIATRIC ORTHODONTICS</a></li>
                    <li id="menu-item-6351"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6351"><a
                        href="../conscious-sedation/index.html">CONSCIOUS SEDATION</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container col-sm-4">
          <div class="wpb_wrapper">
            <div class="vc_wp_custommenu wpb_content_element">
              <div class="widget widget_nav_menu">
                <h2 class="widgettitle">Smile make over</h2>
                <div class="menu-smile-make-over-container">
                  <ul id="menu-smile-make-over" class="menu">
                    <li id="menu-item-5735"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735"><a
                        href="../tooth-whitening/index.html">Tooth Whitening</a></li>
                    <li id="menu-item-4176"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4176"><a
                        href="../dental-veneers-laminates/index.html">Dental Veneers / Laminates</a></li>
                    <li id="menu-item-4291"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4291"><a
                        href="../composite-bonding/index.html">Composite Bonding</a></li>
                    <li id="menu-item-4294"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4294"><a
                        href="../tooth-jewellery/index.html">Tooth Jewellery</a></li>
                    <li id="menu-item-4297"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4297"><a
                        href="../bridal-smile-make-over/index.html">Bridal Smile Make Over</a></li>
                    <li id="menu-item-6535"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6535"><a
                        href="../gum-depigmentation/index.html">Gum Depigmentation</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="vc_wp_custommenu wpb_content_element">
              <div class="widget widget_nav_menu">
                <h2 class="widgettitle">ENDODONTICS</h2>
                <div class="menu-endodontics-container">
                  <ul id="menu-endodontics" class="menu">
                    <li id="menu-item-4144"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4144"><a
                        href="../laser-rct/index.html">LASER Root Canal Treatment</a></li>
                    <li id="menu-item-6525"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6525"><a
                        href="../single-sitting-rct/index.html">Single Sitting RCT</a></li>
                    <li id="menu-item-6531"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6531"><a
                        href="../invisible-fillings/index.html">Invisible Fillings</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="vc_wp_custommenu wpb_content_element">
              <div class="widget widget_nav_menu">
                <h2 class="widgettitle">ORTHODONTICS</h2>
                <div class="menu-orthodontics-container">
                  <ul id="menu-orthodontics" class="menu">
                    <li id="menu-item-4228"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4228"><a
                        href="../timing-of-braces-treatment/index.html">Timing of braces treatment</a></li>
                    <li id="menu-item-4101"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4101"><a
                        href="../child-orthodontics/index.html">Child Orthodontics</a></li>
                    <li id="menu-item-8894"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8894"><a
                        href="../adult-orthodontics/index.html">Adult Orthodontics</a></li>
                    <li id="menu-item-4102"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4102"><a
                        href="../invisible-braces/index.html">Invisible Braces</a></li>
                    <li id="menu-item-8928"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8928"><a
                        href="../clear-aligners/index.html">Clear Aligners</a></li>
                    <li id="menu-item-4112"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4112"><a
                        href="../orthodontic-emergencies/index.html">Orthodontic Emergencies</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wpb_column vc_column_container col-sm-4">
          <div class="wpb_wrapper">
            <div class="vc_wp_custommenu wpb_content_element">
              <div class="widget widget_nav_menu">
                <h2 class="widgettitle">Dental Implants</h2>
                <div class="menu-dental-implants-container">
                  <ul id="menu-dental-implants" class="menu">
                    <li id="menu-item-11958"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11958"><a
                        href="../dental-implants/index.html">Dental Implants</a></li>
                    <li id="menu-item-12995"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12995"><a
                        href="../dental-implant-cost/index.html">Dental Implant Cost</a></li>
                    <li id="menu-item-4160"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4160"><a
                        href="../single-tooth-dental-implant-in-india/index.html">Single tooth replacement with dental
                        implant</a></li>
                    <li id="menu-item-4161"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4161"><a
                        href="../multiple-teeth-replacement/index.html">Multiple Teeth Replacement</a></li>
                    <li id="menu-item-6536"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6536"><a
                        href="../all-on-4-dental-implants/index.html">All On 4 Dental Implant Procedure</a></li>
                    <li id="menu-item-6537"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6537"><a
                        href="../zygoma-implants/index.html">Zygoma Implants</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="vc_wp_custommenu wpb_content_element">
              <div class="widget widget_nav_menu">
                <h2 class="widgettitle">PERIODONTICS</h2>
                <div class="menu-periodontics-container">
                  <ul id="menu-periodontics" class="menu">
                    <li id="menu-item-4131"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4131"><a
                        href="../flap-surgery/index.html">Flap Surgery</a></li>
                    <li id="menu-item-4263"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4263"><a
                        href="../bone-grafting-with-gum-surgery/index.html">Bone grafting with gum surgery</a></li>
                    <li id="menu-item-4266"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4266"><a
                        href="../laser-gum-therapy/index.html">LASER Gum Therapy</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="vc_wp_custommenu wpb_content_element">
              <div class="widget widget_nav_menu">
                <h2 class="widgettitle">ORAL AND MAXILLOFACIAL</h2>
                <div class="menu-oral-and-maxillofacial-surgery-container">
                  <ul id="menu-oral-and-maxillofacial-surgery" class="menu">
                    <li id="menu-item-4206"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4206"><a
                        href="../wisdom-tooth-surgery/index.html">Wisdom Tooth Surgery</a></li>
                    <li id="menu-item-4210"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4210"><a
                        href="../facial-and-jaw-bone-trauma-surgery/index.html">Facial and Jaw bone Trauma Surgery</a>
                    </li>
                    <li id="menu-item-4215"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4215"><a
                        href="../orthognathic-surgery/index.html">Orthognathic Surgery</a></li>
                    <li id="menu-item-4216"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4216"><a
                        href="../advanced-dental-implant-surgery/index.html">Advanced Dental Implant Surgery</a></li>
                    <li id="menu-item-4218"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4218"><a
                        href="../jaw-cyst-tumor-surgery/index.html">Jaw Cyst / Tumor Surgery</a></li>
                    <li id="menu-item-4221"
                      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4221"><a
                        href="../rhinoplasty-nose-surgery/index.html">Rhinoplasty ( Nose Surgery )</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div id="new_comment">
    <div class="container">
      <div class="new_comment">
      </div>
    </div>
  </div>





</div>