<div class="modal-dialog full-width">
    <div class="modal-content" style="max-width: 900px;">
        <div class="modal-header">
            <div style="display: flex;justify-content: space-between;">
                <h3 class="modal-title">{{ doctor.title }} {{doctor.firstName}} {{doctor.lastName}}</h3>
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span
                        class="mdi mdi-close"></span></button>
            </div>
        </div>
        <div class="modal-body">
            <form action="/admin/doctor/{{ doctor.id }}/update" id="hospitalUpdate">
                <div class="form-group">
                    <label>Doctor's Description</label>
                    <textarea name="description" rows="15" class="form-control descriptionField">{{{ doctor.description }}}</textarea>
                    <div class="alert error-label" error-for="name"></div>
                </div>
                <div class="xs-pt-15 text-right">
                    <button class="btn btn-space btn-default" type="button" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-space btn-primary">Update Description</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('.descriptionField').summernote({
        height: 350
    });
</script>