<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div style="display: flex;justify-content: space-between;">
                <h3 class="modal-title">EDIT - {{ hospital.name }}</h3>
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span
                        class="mdi mdi-close"></span></button>
            </div>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" action="/admin/hospital/{{ hospital.id }}/update" id="hospitalUpdate">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Hospital's Name</label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="Hospital's Name" class="form-control form-control-sm" name="name" value="{{ hospital.name }}">
                        <div class="alert error-label" error-for="name"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Est. Date</label>
                    <div class="col-sm-9">
                        <input type="text" name="est_date" placeholder="Established Date" class="form-control form-control-sm datePicker" value="{{ date hospital.est_date }}">
                        <div class="alert error-label" error-for="est_date"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Type</label>
                    <div class="col-sm-9">
                        <select name="type" class="form-control form-control-sm">
                            <option value="">Select Hospital Type</option>
                            <option value="Government" {{#isEqual hospital.type 'Government'}} selected {{/isEqual}} >Government</option>
                            <option value="Semi-Government" {{#isEqual hospital.type 'Semi-Government' }} selected {{/isEqual}}>Semi-Government</option>
                            <option value="Private" {{#isEqual hospital.type 'Private' }} selected {{/isEqual}}>Private</option>
                        </select>
                        <div class="alert error-label" error-for="type"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" name="email" placeholder="Email Address" class="form-control form-control-sm" value="{{ hospital.email }}">
                        <div class="alert error-label" error-for="email"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Phone</label>
                    <div class="col-sm-9">
                        <input type="text" name="telephone" placeholder="Hospital's Contact" class="form-control form-control-sm" value="{{ hospital.telephone }}">
                        <div class="alert error-label" error-for="telephone"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Add1</label>
                    <div class="col-sm-9">
                        <input type="text" name="add1" placeholder="Street Address" class="form-control form-control-sm" value="{{ hospital.add1 }}">
                        <div class="alert error-label" error-for="add1"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Add2</label>
                    <div class="col-sm-9">
                        <input type="text" name="add2" placeholder="Address 2" class="form-control form-control-sm" value="{{ hospital.add2 }}">
                        <div class="alert error-label" error-for="add2"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">City</label>
                    <div class="col-sm-9">
                        <input type="text" name="city" placeholder="City" class="form-control form-control-sm" value="{{ hospital.city }}">
                        <div class="alert error-label" error-for="city"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Zip</label>
                    <div class="col-sm-9">
                        <input type="text" name="zip" placeholder="Zip/Postal Code" class="form-control form-control-sm" value="{{ hospital.zip }}">
                        <div class="alert error-label" error-for="zip"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">State</label>
                    <div class="col-sm-9">
                        <input type="text" name="state" placeholder="State/Province" class="form-control form-control-sm" value="{{ hospital.state }}">
                        <div class="alert error-label" error-for="state"></div>
                    </div>
                </div>
                <div class="xs-pt-15 text-right">
                    <button class="btn btn-space btn-default" type="button" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-space btn-primary">Update Hospital</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('.datePicker').datepicker({
        autoclose:true,
        format: 'yyyy-mm-dd'
    });
</script>